<h1>All Actors</h1>

<% @actors.each do |actor| %>
<p><%= actor.name %></p>
<%end%>

<h3>Search for specific actor(s) by name:</h3>
<%= form_for @actor do |f| %>
  <label>Actor Name:</label>
  <%= f.text_field :name %>
  <%= f.submit value:"Search"%>
<% end %>

<br>

<%= form_tag actors_path do%>
  <input type="submit" value="View All Actors">
<% end %>

<%=@test%>
